In [1]:
'''
Perform the following operations using Python on Movie data sets  
m. Create data subsets for different languages(Original Language).  
n. Merge two subsets  
o. Sort Data using customer ratings.  
p. Transposing Data  
q. Melting Data to long format  
r. Casting data to wide format  
'''

'\nPerform the following operations using Python on Movie data sets  \nm. Create data subsets for different languages(Original Language).  \nn. Merge two subsets  \no. Sort Data using customer ratings.  \np. Transposing Data  \nq. Melting Data to long format  \nr. Casting data to wide format  \n'

In [10]:
import pandas as pd

In [16]:
movies = pd.read_csv(r'DSBDALExam DataSets\Movie\movies_metadata.csv')

C:\Users\acer\AppData\Local\Temp\ipykernel_8736\2744998653.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv(r'DSBDALExam DataSets\Movie\movies_metadata.csv')

In [17]:
data.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [18]:
data.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [21]:
ratings = pd.read_csv(r'DSBDALExam DataSets\Movie\ratings_small.csv')

In [22]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [23]:
ratings.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [24]:
print(movies['original_language'].value_counts())

original_language
en       32269
fr        2438
it        1529
ja        1350
de        1080
         ...
zu           1
qu           1
104.0        1
la           1
si           1
Name: count, Length: 92, dtype: int64

In [25]:
# Create data subsets for different languages(Original Language).  
english_movies = movies[movies['original_language'] == 'en']
french_movies = movies[movies['original_language'] == 'fr']
italian_movies = movies[movies['original_language'] == 'it']

In [27]:
# Merge two subsets
merged_movies = pd.concat([english_movies, french_movies], ignore_index=True)
print(merged_movies.head())
print(merged_movies.tail())

   adult                              belongs_to_collection    budget  \
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1  False                                                NaN  65000000
2  False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
3  False                                                NaN  16000000
4  False  {'id': 96871, 'name': 'Father of the Bride Col...         0

                                              genres  \
0  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                     [{'id': 35, 'name': 'Comedy'}]

                               homepage     id    imdb_id original_language  \
0  http://toystory.disney.com/toy-story    862  tt0114709                en
1                                   NaN   8844  tt0113497                en
2                                   NaN  15602  tt0113228                en
3                                   NaN  31357  tt0114885                en
4                                   NaN  11862  tt0113041                en

                original_title  \
0                    Toy Story
1                      Jumanji
2             Grumpier Old Men
3            Waiting to Exhale
4  Father of the Bride Part II

                                            overview  ... release_date  \
0  Led by Woody, Andy's toys live happily in his ...  ...   1995-10-30
1  When siblings Judy and Peter discover an encha...  ...   1995-12-15
2  A family wedding reignites the ancient feud be...  ...   1995-12-22
3  Cheated on, mistreated and stepped on, the wom...  ...   1995-12-22
4  Just when George Banks has recovered from his ...  ...   1995-02-10

       revenue runtime                                   spoken_languages  \
0  373554033.0    81.0           [{'iso_639_1': 'en', 'name': 'English'}]
1  262797249.0   104.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2          0.0   101.0           [{'iso_639_1': 'en', 'name': 'English'}]
3   81452156.0   127.0           [{'iso_639_1': 'en', 'name': 'English'}]
4   76578911.0   106.0           [{'iso_639_1': 'en', 'name': 'English'}]

     status                                            tagline  \
0  Released                                                NaN
1  Released          Roll the dice and unleash the excitement!
2  Released  Still Yelling. Still Fighting. Still Ready for...
3  Released  Friends are the people who let you be yourself...
4  Released  Just When His World Is Back To Normal... He's ...

                         title  video vote_average vote_count
0                    Toy Story  False          7.7     5415.0
1                      Jumanji  False          6.9     2413.0
2             Grumpier Old Men  False          6.5       92.0
3            Waiting to Exhale  False          6.1       34.0
4  Father of the Bride Part II  False          5.7      173.0

[5 rows x 24 columns]
       adult belongs_to_collection budget  \
34702  False                   NaN      0
34703  False                   NaN      0
34704  False                   NaN      0
34705  False                   NaN      0
34706  False                   NaN      0

                                                  genres homepage      id  \
34702                    [{'id': 14, 'name': 'Fantasy'}]      NaN   44333
34703                                                 []      NaN   44324
34704                                                 []      NaN  122036
34705  [{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...      NaN   49280
34706  [{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...      NaN  106807

         imdb_id original_language                     original_title  \
34702  tt0135179                fr                Les cartes vivantes
34703  tt0135631                fr               Le Roi du maquillage
34704  tt0224286                fr  Les Transmutations imperceptibles
34705  tt0135453                fr                  L'Homme orchestre
34706  tt0135571                fr     Nouvelles luttes extravagantes

                                                overview  ... release_date  \
34702  A bearded magician holds up a large playing ca...  ...   1905-01-01
34703  The background of this picture represents a sc...  ...   1904-03-05
34704  This shows a prince entering upon the stage of...  ...   1904-01-01
34705  A band-leader has arranged seven chairs for th...  ...   1900-01-01
34706         A series of fantastical wrestling matches.  ...   1900-01-01

      revenue runtime                              spoken_languages    status  \
34702     0.0     3.0  [{'iso_639_1': 'xx', 'name': 'No Language'}]  Released
34703     0.0     3.0                                            []  Released
34704     0.0     2.0                                            []  Released
34705     0.0     1.0  [{'iso_639_1': 'xx', 'name': 'No Language'}]  Released
34706     0.0     2.0  [{'iso_639_1': 'xx', 'name': 'No Language'}]  Released

       tagline                             title  video vote_average  \
34702      NaN          The Living Playing Cards  False          6.1
34703      NaN           The Untameable Whiskers  False          6.0
34704      NaN  The Imperceptable Transmutations  False          5.0
34705      NaN                  The One-Man Band  False          6.5
34706      NaN  The Fat and Lean Wrestling Match  False          6.5

      vote_count
34702        8.0
34703        6.0
34704        2.0
34705       22.0
34706        6.0

[5 rows x 24 columns]

In [28]:
# Sort Data using customer ratings
sorted_data = movies.sort_values(by='vote_average', ascending=False)
print(sorted_data.head())

       adult belongs_to_collection  budget  \
21642  False                   NaN       0
15710  False                   NaN       0
22396  False                   NaN       0
22395  False                   NaN       0
35343  False                   NaN  300000

                                                  genres  \
21642                [{'id': 99, 'name': 'Documentary'}]
15710                [{'id': 99, 'name': 'Documentary'}]
22396                [{'id': 99, 'name': 'Documentary'}]
22395                [{'id': 99, 'name': 'Documentary'}]
35343  [{'id': 35, 'name': 'Comedy'}, {'id': 99, 'nam...

                                  homepage      id    imdb_id  \
21642                                  NaN  320849  tt0886500
15710                                  NaN   96451  tt1587373
22396                                  NaN   72123  tt1341746
22395  http://www.marvinhamlischmovie.com/  230864  tt3011874
35343                                  NaN  140595  tt0308213

      original_language                                   original_title  \
21642                en  Ice Age Columbus: Who Were the First Americans?
15710                en        If God Is Willing and da Creek Don't Rise
22396                en                                   Meat the Truth
22395                en            Marvin Hamlisch: What He Did For Love
35343                en                       Elaine Stritch: At Liberty

                                                overview  ... release_date  \
21642  Firmly rooted in the latest scientific discove...  ...   2005-01-01
15710  In 2006, director Spike Lee created an astonis...  ...   2010-08-23
22396  Meat the Truth is a high-profile documentary w...  ...   2008-10-03
22395  When Marvin Hamlisch passed away in August 201...  ...   2013-10-12
35343  Judy at the Palace. Sinatra at Carnegie Hall. ...  ...   2002-01-01

      revenue runtime                          spoken_languages    status  \
21642     0.0     0.0                                        []  Released
15710     0.0   255.0                                        []  Released
22396     0.0    74.0  [{'iso_639_1': 'en', 'name': 'English'}]  Released
22395     0.0    82.0  [{'iso_639_1': 'en', 'name': 'English'}]  Released
35343     0.0   140.0  [{'iso_639_1': 'en', 'name': 'English'}]  Released

                                            tagline  \
21642                                           NaN
15710                                           NaN
22396                                           NaN
22395                                           NaN
35343  Legendary performances come along so rarely.

                                                 title  video vote_average  \
21642  Ice Age Columbus: Who Were the First Americans?  False         10.0
15710        If God Is Willing and da Creek Don't Rise  False         10.0
22396                                   Meat the Truth  False         10.0
22395            Marvin Hamlisch: What He Did For Love  False         10.0
35343                       Elaine Stritch: At Liberty  False         10.0

      vote_count
21642        1.0
15710        1.0
22396        1.0
22395        1.0
35343        1.0

[5 rows x 24 columns]

In [29]:
# Transposing Data
transposed_movies = movies.head().transpose()
print(transposed_movies.head())

                                                                       0  \
adult                                                              False
belongs_to_collection  {'id': 10194, 'name': 'Toy Story Collection', ...
budget                                                          30000000
genres                 [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
homepage                            http://toystory.disney.com/toy-story

                                                                       1  \
adult                                                              False
belongs_to_collection                                                NaN
budget                                                          65000000
genres                 [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
homepage                                                             NaN

                                                                       2  \
adult                                                              False
belongs_to_collection  {'id': 119050, 'name': 'Grumpy Old Men Collect...
budget                                                                 0
genres                 [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
homepage                                                             NaN

                                                                       3  \
adult                                                              False
belongs_to_collection                                                NaN
budget                                                          16000000
genres                 [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
homepage                                                             NaN

                                                                       4
adult                                                              False
belongs_to_collection  {'id': 96871, 'name': 'Father of the Bride Col...
budget                                                                 0
genres                                    [{'id': 35, 'name': 'Comedy'}]
homepage                                                             NaN

In [34]:
# Melting Data to long format
melted_movies = pd.melt(movies[['id', 'original_language', 'title']], id_vars=['id'], 
                        var_name='Attribute', value_name='Value')
print(melted_movies.head())

      id          Attribute Value
0    862  original_language    en
1   8844  original_language    en
2  15602  original_language    en
3  31357  original_language    en
4  11862  original_language    en

In [36]:
# Casting data back to wide format
wide_movies = melted_movies.pivot_table(index='id', 
                                        columns='Attribute', 
                                        values='Value', 
                                        aggfunc='first').reset_index()

print(wide_movies.head())

Attribute      id original_language                                title
0             100                en  Lock, Stock and Two Smoking Barrels
1           10000                es            La estrategia del caracol
2           10001                en                       Young Einstein
3          100010                en                       Flight Command
4          100017                de                              Hounded